/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/node_modules
/vendor/*
!/vendor/.htaccess
/pub/assets/cache/*
/pub/assets/temp
!/pub/assets/cache
/var/cache/*
!/var/cache/.htaccess