<!doctype html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
        <title>{% block title %}{% endblock %} - Madeira Madeira Project</title>
        {{ assets({files: ['@js_lib/bootstrap/dist/css/bootstrap.min.css']}) }}
        {{ assets({files: ['@js_lib/bootstrap/dist/js/bootstrap.min.js']}) }}
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>

</body>
</html>